<h1>To Do List</h1>

<section class='unfulfilled-items'>

</section>

<section class='items-needing-images'>
  <% @default_image_items.each do |item| %>
    <%= link_to item.name, edit_merchant_item_path(item) %>
  <% end %>
</section>
