<h2>My Cart</h2>

<% if cart.items.empty? %>
  <p>Your Cart is Empty!</p>
<% else %>
  <h3>Total: <%= number_to_currency(cart.grand_total) %></h3>

  <%= render 'cart_items' %>

  <%= render 'checkout' %>

  <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% end %>
