<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, "/merchant/#{@merchant.id}" %></h1>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <h2 class="deepshd">All Items</h2>
  </div>
<% end %>

<%= render 'index' %>
